<div class="card shadow border-0 w-75">
    <div class="card-header bg-secondary bg-gradient">

        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white">Login Using Google</h2>
            </div>
        </div>




    </div>




 <div class="card card-body p-2">
     <form method="post">
         <div class="border p-2 mt-2">
             <div class="col-10">
                 <label>UserName</label>
                 <input type="text" class="form-control"/>
             </div>

                <div class="col-10">
                    <label>Password</label>
                    <input type="text" class="form-control" />
                </div>
                <br/>

                <div class="row text-end">
                    <div class="col-2 text-end">
                        <button type="submitg" class="btn btn-primary form-control">Login</button>

                    </div>
                    <div class="col-5 text-end">
                        <a asp-controller="Login" asp-action="Login" class="btn btn-primary form-control">Sign in</a>

                    </div>
                </div>
              



         </div>
     </form>


</div>






</div>